* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    margin: 0;
    color: #3a3a3a;
}

a {
    font-size: 1.2em;
    text-decoration: none;
    color: #3a3a3a;
}

span {
    color: #39add1;
}

.header, .nav, .wrapper, .footer {
    display: flex;
    padding: 1em;
}

.header {
    flex-direction: column;
    text-align: center;
    background-color: #fff;
}

.nav, .footer {
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.list {
    padding: .8em 0;
}

.list a {
    padding: .5em 0;
}

.list a:hover {
    color: #39add1;
}

.main {
    width: 80%;
    min-height: 72vh;
    margin: 0 auto;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.wrapper h2 {
    margin-bottom: 1em;
}

#left p::first-line, #right p::first-line {
    font-size: 1.3em;
    font-weight: bold;
}

.col h3 {
    margin-bottom: .6em;
    text-align: center;
}

.footer {
    flex-direction: row;
    color: #fff;
    background-color: #3a3a3a;

    flex: 1;
}
.footer p {
  flex: auto;
}

.footer a {
    padding: 0 .4em;
    color: #fff;
}

.footer a:hover {
    color: #39add1;
}



/**********************
    FORM STYLING
**********************/
.form {
  margin-bottom: 2em;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
.form h2 {
  margin: 0 0 30px 0;
  text-align: center;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
}
input:focus,
textarea:focus {
    background-color: #fff;
}

button {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #39ADD1;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #39ADD1;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
}

button:hover {
  color: #3a3a3a;
}

/******************
MEDIA QUERIES
*******************/

@media (min-width: 769px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.7em;
    }
    .header {
        flex-direction: row;
        justify-content: space-around;
    }
    .nav {
        flex-direction: row;
    }
    .list {
        padding: .2em 1em;
    }
    .wrapper {
        flex-direction: column;
    }
    #left {
        padding: 1em;
        text-align: justify;
    }
    #right {
        padding: 1em;
        text-align: justify;
    }
    #left p::first-letter, #right p::first-letter {
        font-size: 2.5rem;
        display: inline-block;
        float: left;
        clear: both;
        margin-top: 3px;
        margin-right: 5px;
        padding: 1px 10px;
        color: white;
        border-radius: 3px;
        background-color: #3a3a3a;
    }
    form {
      max-width: 480px;
    }
}

@media (min-width: 1025px) {
    h1 {
        font-size: 3em;
    }
    .footer a {
        align-items: center;
    }
    .wrapper {
        flex-direction: row;
    }
    .main h2 {
        font-size: 2.6em;
    }
    #left {
        padding: 1em;
        text-align: justify;
        /*background-color: red;*/
    }
    #right {
        padding: 1em;
        text-align: justify;
        /*background-color: blue;*/
    }
    #left p::first-letter, #right p::first-letter {
        font-size: 2.5rem;
        display: inline-block;
        float: left;
        clear: both;
        margin-top: 3px;
        margin-right: 5px;
        padding: 1px 10px;
        color: white;
        border-radius: 3px;
        background-color: #3a3a3a;
    }
    form {
      max-width: 680px;
    }
    textarea {
      height: 300px;
    }
}
