* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    margin: 0;
}

a {
    text-decoration: none;
    color: #3a3a3a;
    font-size: 1.2em;
}

span {
    color: #39ADD1;
}

.header, .nav, .wrapper, .footer {
    display: flex;
    padding: 1em;
}

.header {
    background-color: #fff;
    flex-direction: column;
    text-align: center;
}

.nav, .footer {
    list-style: none;
    flex-direction: column;
    text-align: center;
}

.list {
    padding: .8em 0;
}

.list a {
    padding: .5em 0;
}

.list a:hover {
    color: #39ADD1;
}

.main {
    width: 80%;
    margin: 0 auto;
		text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.wrapper h2 {
    margin-bottom: 1em;
}

.col h3 {
    text-align: center;
    margin-bottom: .6em;
}

.footer {
    background-color: #e8eeef;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

.footer a {
    padding: 0 .4em;
    color: #3a3a3a;
}

.footer a:hover {
    color: #39ADD1;
}




/**********************
    FORM STYLING
**********************/
.form {
  margin-bottom: 2em;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}
.form h2 {
  margin: 0 0 30px 0;
  text-align: center;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #39ADD1;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #39ADD1;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}
button:hover {
  color: #3a3a3a;
}
.spacing {
  margin-bottom: 1em;
}

@media (min-width: 769px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.7em;
    }
    .header {
        flex-direction: row;
        justify-content: space-around;
    }
    .nav {
        flex-direction: row;
    }
    .list {
        padding: .2em 1em;
    }
    .wrapper {
        flex-direction: column;
    }

		#left {
			padding: 1em;
			text-align: justify;
		}
		#right {
			padding: 1em;
			text-align: justify;
		}
    form {
      max-width: 600px;
      font-size: 1.2em;
    }
}

@media (min-width: 1025px) {
    h1 {
        font-size: 3em;
    }
    .footer a {
        align-items: center;
    }
    .wrapper {
			flex-direction: row;
		}
		#left {
			padding: 1em;
			text-align: justify;
			/*background-color: red;*/
		}
		#right {
			padding: 1em;
			text-align: justify;
			/*background-color: blue;*/
		}
    h2 {
      font-size: 1.75em;
    }
    form {
      max-width: 900px;
      font-size: 1.4em;
    }
    .inline {
    width: auto;
    display: inline-block;
  }
  .btn + .btn {
  margin-left: 20px;
  }
}
